*.aux
*.glob
*.vok
*.vos
*.vo
*.out
log
**/log
*.pkl
main.out
.lia.cache
__pycache__/
**/__pycache__/
runner.out
requirements.txt

.venv/
.cleanup/
tmp/
.nra.cache
.nia.cache
experiments/*.json
experiments/*.lock
*.elpi
.DS_Store
.vscode
.cursor
.cursorrules
.cursorignore
nohup.out